/* RESET */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* COMMON */
body {
    background-color:  #f6f8f9;
    font-family: Arial, sans-serif;
}
/* FINE COMMON */

/* HEADER */
header {
    margin-top: 3px;
    padding: 10px 15px;
    background-color: white;
}
header * {
    vertical-align: middle;
    margin-left: 20px;
}
h1 {
    display: inline;
}
/* FINE HEADER */

/* MAIN */
main {
    margin: 50px auto;
    background-color: white;
    width: 70%;
    border-radius: 2%;
}

/* Sezione "navbar" */
.navbar {
    padding: 2% 8%;
    border-bottom: 3px solid #f6f8f9;
}
a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
}
a.selected {
    color: white;
    background-color: #47adf1;
    
}
a.not-selected {
    color: #cacfd4;
    border: 1px solid #cacfd4;
}
/* Fine "navbar */

section {
    padding: 2% 10%;

    margin-top: 30px;
}
h3::before {
    content: "\25BE";
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding-top: 10px;
}

li::before {
    display: inline-block;
    text-align: center;
    line-height: 18px;
    width: 18px; 
    border-radius: 50%;
    border: 1px solid #64c0a9;
    margin-right: 5px;
    vertical-align: middle;
    color: #64c0a9;
    content: "\2713";
    font-weight: 900;
    font-size: 10px;
 
}

.failed::before {
    content: "\2573";
    color: #eb5851;
    font-size: 6px;
    border: 1px solid #eb5851;
}
/* Lunga sequela di tag: prima caratteristiche comuni, poi vari colori */
.tag {
    border-radius: 35%;
    color: white;
    font-size: 70%;
    padding: 6px 8px;
    font-weight: bolder;
    display: inline-block;
    margin: 8px 0;
}

.tag.editorial {
    background-color: #45abea;
}
.tag.goal {
    background-color: #9c72e4;
}
.tag.recruiting {
    background-color: #64c0a9;
}
.tag.mobile {
    background-color: #f29e33;
}
.tag.website {
    background-color: #d963a1;
}
.tag.sales {
    background-color: #b0c926;
}
/* Fine tag */
/* Fine MAIN */